<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
    <mapper namespace="model.BeforeApprovalImpl">
   
   
   
   <!-- 방명록 페이지 처리 -->
   <!-- 전체 게시물수 카운트 -->
   <select id="getTotalCount" resultType="int">
      SELECT COUNT(*) FROM pbbs 
      WHERE state='대기중' 
      <if test="!keyString.equals('') and keyString!=null">
          and ${keyField} like '%'||#{keyString}||'%'
         </if> 
   </select> 
   
   <select id="listPage" resultType="model.ProjectBbsDTO">
      SELECT * FROM (
         SELECT Tb.*, rownum rNum FROM (
            SELECT * FROM pbbs ORDER BY idx DESC
         ) Tb
      )
      WHERE rNum BETWEEN #{param1} AND #{param2}
   </select>
   
   
   <!-- 전체 게시물수 카운트 : 검색기능추가 -->
   <select id="getTotalCountSearch" resultType="int" 
      parameterType="model.ParamDTO">
      SELECT COUNT(*) FROM pbbs WHERE
      state='대기중' 
      <if test="!keyString.equals('') and keyString!=null">
          and ${keyField} like '%'||#{keyString}||'%'
         </if> 
         
   </select> 

   
   <select id="listPageSearch" 
      resultType="model.ProjectBbsDTO" 
      parameterType="model.ParamDTO">
      SELECT * FROM (
         SELECT Tb.*, rownum rNum FROM (
            SELECT * FROM pbbs
            WHERE  state='대기중'
            <if test="!keyString.equals('') and keyString!=null">
               AND ${keyField} LIKE '%'||#{keyString}||'%' 
            </if> 
            ORDER BY idx DESC
         ) Tb
      )
      WHERE rNum BETWEEN ${start} AND ${end} 
   </select>


   
   <select id="listView" resultType="model.ProjectBbsDTO">
      SELECT * FROM pbbs WHERE idx=#{idx}
      </select>   
      
    <insert id="write" parameterType="model.ProjectBbsDTO">
INSERT INTO pbbs (idx,ID, CONTENT, POSTDATE, VISIT_COUNT, RECOMMEND, TITLE, START_DATE, END_DATE, m_LIMIT, THUMBNAIL, ATTACHEDFILE, ADDRESS, STATE, ADD_POINT) 
VALUES (pbbs_seq.nextval,'${id}', '${content}',sysdate,0,0,'${title}',TO_DATE('${start_date}', 'YYYY-MM-DD'),TO_DATE('${end_date}', 'YYYY-MM-DD') ,'${m_limit}','${thumbnail}',0,'${address}','대기중',10)
      </insert>
   
   <update id="visitcount" >
   UPDATE pbbs set visit_count=visit_count+1 WHERE idx=#{idx}
   </update>
   
   <!--추천중복확인 -->
        <select id="confirmrec" resultType="int">
        SELECT count(*) FROM pproposeentry WHERE idx=#{0} AND id=#{1}
     </select>
     
     <insert id="addppropose">
     INSERT INTO pproposeentry (entry_idx,idx,id,regidate,result) VALUES (pEntry_seq.NEXTVAL,#{0},#{1},sysdate,1)
     </insert>
   
   
   <update id="recommendproc" >
   UPDATE pbbs set recommend=recommend+1 WHERE idx=#{idx}
   </update>

</mapper>   