<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="myPage.MyPageImpl">
	<!-- 목록 전부 가져오기 -->

	   <select id="ViewProj" resultType="model.ProjectBbsDTO" parameterType="String">
      SELECT * FROM pbbs WHERE id=#{0} ORDER BY idx DESC
   </select>
	
	<select id="ViewMyProj" resultType="model.ProjectBbsDTO">
		SELECT * FROM pEntry INNER JOIN pbbs on pEntry.idx=pbbs.idx WHERE pEntry.id=#{0}
   </select>
</mapper>
