@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background: #fff;
}
.hamburger {
  position: fixed;
  top: 20px;
  margin: 0 0 0 -55px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  opacity: 0.6;
  overflow: visible;
  z-index: 150;  }
  .hamburger:hover {
    opacity: 0.3; }
  .hamburger.open1 {   right: 0; margin: 0 15px 0 0; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*  Vortex Reverse  */
.hamburger--vortex-r .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r .hamburger-inner::before, .hamburger--vortex-r .hamburger-inner::after {
    transition-duration: 0s;
    transition-delay: 0.1s;
    transition-timing-function: linear; }
  .hamburger--vortex-r .hamburger-inner::before {
    transition-property: top, opacity; }
  .hamburger--vortex-r .hamburger-inner::after {
    transition-property: bottom, transform; }

.hamburger--vortex-r.is-active .hamburger-inner {
  transform: rotate(-765deg);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }
  .hamburger--vortex-r.is-active .hamburger-inner::before, .hamburger--vortex-r.is-active .hamburger-inner::after {
    transition-delay: 0s; }
  .hamburger--vortex-r.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0; }
  .hamburger--vortex-r.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg); }
	
/* 로고 */
.logo {position: fixed; background: url(../img/logo_1.png) no-repeat center center/104px 60px;  display: block; width: 104px; height: 60px; padding: 25px; text-indent: -9999px; z-index: 130;}
.logo a { display: block; width:100%; height: 100%; }


/* 사이드 메뉴 */

.side .nav { position: fixed; z-index: 100; top:0%; right: -100%;  width: 100%;  height: 100%; margin-right: 70px;
	  transition: all 0.5s;  border-left: 1px solid #eee; z-index: 150; box-sizing: border-box; border: 70px solid rgba(205,205,205,0.5); background: rgba(5,5,5,0.8); background-clip: padding-box;}

.side .nav.open2 { right: 0; margin-right: 0;  }
.side .nav ul { padding: 0; min-width: 600px; min-height: 400px; list-style: none; position:absolute; top:50%;  left: 50%; margin-left: -300px; margin-top: -200px;}
.side .nav ul li { padding: 15px 20px; } 
.side .nav ul li a { font: 60px "poiret one"; text-decoration: none; font-weight: 800; color: #fff; display: block; text-align: center; }
.side .nav ul li a:hover { text-decoration: underline; }

.section { position: absolute; top: 0; }
.section .page { position: relative; min-width: 1024px;  }
.section .page.loading { display: none; }

/* 1번 페이지 */
.section .page:nth-child(1) { background-color: #fff;}
.section .page:nth-child(1) .tit_box { position: absolute; top: 30%; left: 50%; margin-left: -20%; display: block;  width: 40%; height: 27%; z-index:10; }
.section .page:nth-child(1) .tit_box .title { background: url(../img/logo_3.png) no-repeat center center/contain;  height: 50%; display: block;  text-indent: -9999px;}
.section .page:nth-child(1) .tit_box .title2 { font: bold 1.6em 'arial'; text-align: center; margin-top: 5%; }
			/* 가로 폭이 600px 이하일때 */
			@media screen and (max-width:600px){
				.section .page:nth-child(1) .tit_box .title2 { font: bold 1.2em 'arial'; }
				}
			/* 가로 폭이 450px 이하일때 */
			@media screen and (max-width:450px){
				.section .page:nth-child(1) .tit_box .title2 { font: bold 0.8em 'arial'; }
				}

.section .page:nth-child(1) .img { width: 45%; height: 40%; position: absolute; opacity: 0; border: 2px solid #ddd; }
.section .page:nth-child(1) .R_img { background: url(../img/bmg2.png) no-repeat center/cover; bottom: 5%; right: 1%; }
.section .page:nth-child(1) .L_img { background: url(../img/bmg1.png) no-repeat center/cover; top: 5%; left: 1%; }

.section .page:nth-child(1) .wheel { position: absolute; bottom: 20px; left: 50%; margin-left: -15px; width: 30px; height: 50px; border: 2px solid #888; border-radius: 17px;}
.section .page:nth-child(1) .wheel div { background: #555; width:2px; height: 6px; position: absolute; top: 5px; left: 14px; animation: ani1 linear 1s 0s infinite; }
.section .page:nth-child(1) .wheel span { position: absolute; bottom: 58px; left: 50%; margin-left: -24px; width: 50px; color: #888; font-size: 12px; text-align: center;}

@keyframes ani1 {
		1%	{ top: 5px; height: 4px; }
		50% { top: 12px; height: 6px; }
		100%	{ top: 5px; height: 2px;}
}

/* 2번 페이지 */
.section .page:nth-child(2) { }
.section .page:nth-child(2) p.bg01 { position: absolute; width: 100%; background: #ccc; }
.section .page:nth-child(2) p.bg_top { top: 0; height: 14%;}
.section .page:nth-child(2) p.bg_bot { bottom: 0; height: 15%;}
.section .page:nth-child(2) p.bg_bot a { display: block; width: 200px; height: 50px; color: #222;  text-decoration: none; position: absolute; top: 50%; left: 50%; margin-top: -25px; margin-left: -100px; font: 18px airal; text-align: center; line-height: 50px; border: 2px solid #222; }
.section .page:nth-child(2) p.bg_bot a:hover { background-color: #777; color: #ddd; border-color: #ddd; }
.section .page:nth-child(2) video { position: absolute; top: 14%; min-width: 100%; min-height: 72%; overflow: hidden; width: 100%; height: 72%; z-index: 10; background: #101010;}
.section .page:nth-child(2) video:hover { z-index:150; }

/* 3번 페이지 */
.section .page:nth-child(3) { background: #F0F0F0; center/cover; overflow: hidden;} 
.section .page:nth-child(3) span { width: 100%; height: 100%; background: url(../img/section3.png) no-repeat center/80%; position: absolute; top:0; z-index: 1; overflow: hidden; animation: ani2 5s 0s infinite; }
		@keyframes ani2 {
				0%	{ top: -10px; }
				50% { top: 10px; }
				100%	{ top: -11px; }
		}
.section .page:nth-child(3) img.bgbg { position: absolute; z-index: 15; width: 50%; height: 50%; overflow: hidden; }
.section .page:nth-child(3) img.b1 { top: 5%; left: 5%; }
.section .page:nth-child(3) img.b2 { top: 10%; right: -5%; }
.section .page:nth-child(3) img.b3 { bottom: 5%; right: 15%;}
.section .page:nth-child(3) img.b4 { bottom: -20%; left: -15%;}
.section .page:nth-child(3) a { display: block; width: 130px; height: 50px; color: #fff;  background-color: #333; text-decoration: none; position: absolute; top: 50%; left: 10%; margin-top: -25px; z-index: 16; font: bold 20px airal; text-align: center; line-height: 50px; border: 3px solid #fff; outline: 3px solid #333;}
.section .page:nth-child(3) a:hover { background-color: #9A3030; color: #ccc; border: 3px solid #ccc; outline: 3px solid #9A3030;}
.section .page:nth-child(3) strong { position: absolute; bottom: 5%; right: 10%; font: bold 40px 'airal'; text-align: right; z-index: 20; text-shadow: 5px 5px 1px #fff;}
.section .page:nth-child(3) strong { position: absolute; bottom: 5%; right: 10%; font: bold 40px 'airal'; text-align: right; z-index: 20; text-shadow: 1px 1px 1px #fff;}
.section .page:nth-child(3) strong b {color: #9A3030;}


/* 4번 페이지 */
/*.section .page:nth-child(4) { background: linear-gradient(to right, #aaa,#ddd,#ddd, #ddd, #444); }*/
.section .page:nth-child(4) { background: #fbece5; }
.section .page:nth-child(4) .bd {  position: absolute; top:2.5%; left: 1.5%; width: 90%; height: 95%;  margin-right: 75px; min-width: 900px; }
.section .page:nth-child(4) img { position: absolute; top:0;  height: 100%; }
.section .page:nth-child(4) .m_tit { position: absolute; top: 40%; right: 55%; width: 25%; height: 20%; font: bold 40px/120% 'airal'; color: #000; text-align: center; min-width: 300px; text-shadow: 0 0 30px #fff; opacity: 0.9; transition: all 0.5s;}
.section .page:nth-child(4) section { width: 30%; padding-bottom:30%; min-width: 320px; position: absolute; right: 35%; top: 15%; transform: rotate(45deg); transform-origin:center; }
.section .page:nth-child(4) section article { width: 30%; padding-bottom:30%; min-width: 90px; border: 2px solid #444; float: left; margin: 0.7%; position:relative; border-radius: 5%; transition: all 0.5s;}

.section .page:nth-child(4) section article a { position: absolute; top: 50%; left: 50%; margin-left: -45px; margin-top: -45px; transform: rotate(-45deg); display: block; font: bold 16px airal; width: 90px; height: 90px; transform-origin:center; text-align: center; line-height: 90px; color: #333; text-decoration: none; transition: all 0.5s;}
			/* 가로 폭이 1400px 이상일때 */
			@media screen and (min-width:1400px){
				.section .page:nth-child(4) section article a { font: bold 20px 'airal';  line-height: 90px; }
				}
			/* 가로 폭이 1300px 이상일때 */
			@media screen and (min-width:1300px){
				.section .page:nth-child(4) .m_tit { font: bold 60px/150% 'airal';  }
				}

.section .page:nth-child(4) section article.w_menu:hover { background-color: rgba(0,0,0,0.3); }
.section .page:nth-child(4) section article.w_menu:hover a { color: #fff; }

.section .page:nth-child(4) .sub_con { position: absolute; top: 0; left: -100%; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 150;}
.section .page:nth-child(4) .sub_con i { color: #fff; position: absolute; top: 1%; right: 3%; font-size: 50px; cursor: pointer; }
.section .page:nth-child(4) .sub_con .con { position: absolute; top: 10%; width: 100%; height: 80%;  background-color: #fff; left: -100%; z-index: 200;}
.section .page:nth-child(4) .sub_con .con .sub1 { width: 50%; height:100%; position: absolute; top: 0; }
.section .page:nth-child(4) .sub_con .con .sub_left {  background-color: #fff;  left: 0; }
.section .page:nth-child(4) .sub_con .con .sub_right { right: 0; background-color: #ddd;}
.section .page:nth-child(4) .sub_con .con .sub_left .sub2 { position: absolute; top: 15%; width: 35%; height: 70%; }
.section .page:nth-child(4) .sub_con .con .sub_left .menu1 { background-color: #fff; left: 10%; }
.section .page:nth-child(4) .sub_con .con .sub_left .menu2 { background-color: #fff; right: 10%; }
.section .page:nth-child(4) .sub_con .con .sub_left .sub2 p {  background-color: #ddd; position: absolute; top: 0; width: 100%; height: 80%; }
.section .page:nth-child(4) .sub_con .con .sub_left .sub2 span { background-color: #fff; position: absolute; bottom: 0; left: 25%; width: 50%; height: 10%; cursor: position; border: 2px solid #222; color: #222; cursor: pointer; text-align: center; font: bold 16px airal; padding-top: 8%; }
.section .page:nth-child(4) .sub_con .con .sub_left .sub2 span:hover { background-color: #ee2e24; color: #fff; border: 2px solid #ee2e24;} 

/* 4번 메뉴 --- 메뉴별 이미지 */
.section .page:nth-child(4) .sub_con .sub_con1 .sub_left .menu1 p { background: url(../img/spo_m1.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con1 .sub_left .menu2 p { background: url(../img/spo_m2.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con1 .sub_right { background: url(../img/spo_bg.png) no-repeat center/cover; }

.section .page:nth-child(4) .sub_con .sub_con2 .sub_left .menu1 p { background: url(../img/cla_m1.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con2 .sub_left .menu2 p { background: url(../img/cla_m2.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con2 .sub_right { background: url(../img/cla_bg.png) no-repeat center/cover; }

.section .page:nth-child(4) .sub_con .sub_con3 .sub_left .menu1 p { background: url(../img/her_m1.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con3 .sub_left .menu2 p { background: url(../img/her_m2.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con3 .sub_right { background: url(../img/her_bg.png) no-repeat center/cover; }

.section .page:nth-child(4) .sub_con .sub_con4 .sub_left .menu1 p { background: url(../img/lad_m1.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con4 .sub_left .menu2 p { background: url(../img/lad_m2.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con4 .sub_right { background: url(../img/lad_bg.png) no-repeat center/cover; }

.section .page:nth-child(4) .sub_con .sub_con5 .sub_left .menu1 p { background: url(../img/poc_m1.png) no-repeat center/contain; }
.section .page:nth-child(4) .sub_con .sub_con5 .sub_left .menu2 p { background: url(../img/poc_m2.png) no-repeat center/contain; }
.section .page:nth-child(4) .sub_con .sub_con5 .sub_right { background: url(../img/poc_bg.png) no-repeat center/cover; }

.section .page:nth-child(4) .sub_con .sub_con6 .sub_left .menu1 p { background: url(../img/gol_m1.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con6 .sub_left .menu2 p { background: url(../img/gol_m2.png) no-repeat center/cover; }
.section .page:nth-child(4) .sub_con .sub_con6 .sub_right { background: url(../img/gol_bg.png) no-repeat center/cover; }

.section .page:nth-child(4) section article:nth-child(4), 
.section .page:nth-child(4) section article:nth-child(7), 
.section .page:nth-child(4) section article:nth-child(8) { border: 0;  visibility : visible;}


/* 5번 메뉴 --- 푸터 */
.section .page:nth-child(5) { background-color: #ececec; box-shadow: -10px 0 5px #000; border-top: 2px solid #222;}
.section .page:nth-child(5) .foot { width: 90%; height: 14%; margin-left: 5%; padding-top: 0.8%; }
.section .page:nth-child(5) .foot .f_menu { height: 100%; width: 20%; float: left;}
.section .page:nth-child(5) .foot .f_menu a { text-decoration: none; color: #888;  display: block; padding-left:30%; }
.section .page:nth-child(5) .foot .f_menu1 a { width: 90%; height: 90%; margin: 5%; padding: 0;}
.section .page:nth-child(5) .foot .f_menu a:hover { text-decoration: underline; color: #222; }
.section .page:nth-child(5) .foot .f_menu1 a:hover { text-decoration: none; }
.section .page:nth-child(5) .foot .f_menu1 a img { width: 100%; height: 100%; }

.section .page:nth-child(5) .foot .f_menu strong { color: #333; font: bold 16px arial;  display: block; padding-left:30%; }

.section .page:nth-child(5) .foot .f_menu ul { width: 100%; margin-top: 7%; }
.section .page:nth-child(5) .foot .f_menu ul li { width: 100%; margin-bottom: 3%; }
.section .page:nth-child(5) .foot .f_menu5 ul { padding-left: 25%; }
.section .page:nth-child(5) .foot .f_menu5 ul li { width: 10%; display: inline-block; } 
.section .page:nth-child(5) .foot .f_menu5 ul li a { font-size : 18px; }

			/* 가로 폭이 1000px 이하일때 */
			@media screen and (max-width:1000px){
				.section .page:nth-child(5) .foot .f_menu a { font: 10px airal; }
				.section .page:nth-child(5) .foot .f_menu strong { font: bold 12px airal; }
				.section .page:nth-child(5) .foot .f_menu ul { margin-top: 3%; }
				.section .page:nth-child(5) .foot .f_menu ul li { margin-bottom: 1%; }
				.section .page:nth-child(5) .foot .f_menu5 ul li a { font-size : 15px; }
			}
			/* 가로 폭이 1400px 이상일때 */
			@media screen and (min-width:1400px){
				.section .page:nth-child(5) .foot .f_menu a { font: 18px airal; }
				.section .page:nth-child(5) .foot .f_menu strong { font: bold 20px airal; }
				.section .page:nth-child(5) .foot .f_menu ul { margin-top: 5%; }
				.section .page:nth-child(5) .foot .f_menu ul li { margin-bottom: 1%; }
				.section .page:nth-child(5) .foot .f_menu5 ul li a { font-size : 23px; }
				}
			






